table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid #cccccc;
}

th, td {
    text-align: left;
    padding: 10px 5px;
}

tr:nth-child(odd) {
    background-color: #ccc;
}

tr:nth-child(even) td {
    border-right: 1px solid #cccccc;
}

